Flask==2.0.1
Flask_SQLAlchemy==2.5.1
SQLAlchemy==1.4.3
Flask_JWT_Extended==4.1.0
PyJWT==2.1.0
itsdangerous==1.1.0
Werkzeug==1.0.1
Flask_Migrate==2.6.0
alembic==1.5.4
Flask_SocketIO==5.0.1
Flask_WTF==0.14.3
WTForms==2.3.3
click==7.1.2
Flask_Mail==0.9.1
pyfcm==1.5.1
email_validator==1.1.2
eventlet==0.31.0
gunicorn==20.1.0
