Flask_Caching==1.9.0
Flask_WTF==0.14.3
Flask_Mail==0.9.1
Flask_JWT_Extended==4.1.0
WTForms==2.3.3
SQLAlchemy==1.4.3
click==7.1.2
email_validator==1.1.2
Flask==1.1.2
itsdangerous==1.1.0
Werkzeug==1.0.1
Flask_Migrate==2.6.0
Flask_SQLAlchemy==2.5.1
Flask_SocketIO==5.0.1
secrets==1.0.2
gevent~=21.1.2
alembic~=1.5.4
eventlet~=0.30.2
pyfcm~=1.5.1