<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reset password</title>
    </head>
    <body>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.password.label }}
            <p>{{ form.password(size=25) }} </p>
             <p>{% for error in form.password.errors %}
                <span style="color: red;">Password should be at least 8 and less than 25 characters,
                    contain at least 1 digit,<br> 1 uppercase letter,
                    1 lowercase letter and 1 special character</span>
             {% endfor %}
            </p>
            <p>{{ form.show_password() }} {{ form.show_password.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>
<script>
    history.pushState(null, document.title, location.href);

    window.addEventListener("load", function(){
        const checkbox = document.getElementById('{{ form.show_password.id }}');
        const input_field = document.getElementById('{{ form.password.id }}');
        const submit_button = document.getElementById('{{ form.submit.id }}')

        checkbox.addEventListener('change', function() {
            if(this.checked) {
                input_field.type = 'text';
            } else {
                input_field.type = 'password';
            }
        });

        submit_button.addEventListener("click", function () {
        checkbox.checked = false;
        })
    });
</script>